@font-face {
	font-family: "tel-marine";
	src: url(font.ttf);
}

html, body {
	cursor: default;
	font-family: sans-serif;
	height: 100%;
	margin: 0px;
	width: 100%;
}

a {
	color: inherit;
}

footer {
	background-color: #212121;
	color: #FFFFFF99;
	font-weight: 600;
	padding: 24px;
	text-align: center;
}

h1 {
	font-family: "tel-marine", sans-serif;
	font-size: 36px;
	letter-spacing: 3px;
	margin-bottom: 6px;
}

h2 {
	color: #3C3C3C;
	font-size: 18px;
	letter-spacing: 6px;
}

h3, h4 {
	font-weight: 300;
}

h3 {
	border-bottom: 6px solid #0091EA;
	display: inline-block;
	font-size: 36px;
	margin: 24px 0px 48px 0px;
	padding: 24px;
}

h4 {
	font-size: 24px;
	margin-bottom: 0px;
}

header {
	background-attachment: fixed;
	background-image: url(bg.png);
	background-repeat: repeat;
	background-size: contain;
	display: table;
	height: 84%;
	width: 100%;
}

header div {
	background-color: #FFFFFFCC;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

header img {
	height: 144px;
}

.jb-card {
	background-color: #FFF;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
	display: inline-block;
	margin: 6px;
	padding-bottom: 12px;
	vertical-align: top;
	width: 100%;
	max-width: 420px;
}

.jb-card img {
	width: 100%;
}

#jb-events {
	background-color: #F0F0F0;
	padding: 36px 0px;
	text-align: center;
}

@media only screen and (min-width: 600px) {
	h1 {
		font-size: 60px;
		letter-spacing: 6px;
		margin-bottom: 6px;
	}
	h2 {
		font-size: 24px;
		letter-spacing: 12px;
	}
}
